body {
  background-image: url('./images/tree.jpg');
  display: flex;
  justify-content: center;
}

main {
  background-color: rgba(225, 225, 225, .6);
  padding: 25px;
  margin: 50px;
}

table {
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

td {
  background-color: #090F0B;
  color: white;
  text-align: left;
  padding: 5px 100px 5px 5px;
  font-size: 20px;
}

th {
  color: black;
  font-size: 22px;
  font-family: 'Yuji Syuku', serif;
  text-align: left;
}

h1 {
  font-family: 'Yuji Syuku', serif;
  font-size: 60px;
  margin: 0;
}

h2 {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  font-family: 'Yuji Syuku', serif;
  font-size: 25px;
  padding: 5px 0;
}